n8n-workflow-budget-alert.json
{
    "name": "AURORA Budget Alert Emailer",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "expense-alert",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-1",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "expense-alert"
        },
        {
            "parameters": {
                "sendTo": "={{ $json.to }}",
                "subject": "={{ $json.subject }}",
                "emailType": "html",
                "message": "<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body {\n            font-family: 'Arial', sans-serif;\n            background-color: #0a0f1e;\n            color: #ffffff;\n            padding: 20px;\n        }\n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background: linear-gradient(135deg, #1a1f3a 0%, #0a0f1e 100%);\n            border-radius: 16px;\n            padding: 40px;\n            border: 1px solid rgba(0, 212, 255, 0.2);\n        }\n        .header {\n            text-align: center;\n            margin-bottom: 30px;\n        }\n        .logo {\n            font-size: 32px;\n            font-weight: bold;\n            background: linear-gradient(135deg, #00d4ff 0%, #a855f7 100%);\n            -webkit-background-clip: text;\n            -webkit-text-fill-color: transparent;\n        }\n        .alert-box {\n            background: rgba(239, 68, 68, 0.1);\n            border-left: 4px solid #ef4444;\n            padding: 20px;\n            border-radius: 8px;\n            margin: 20px 0;\n        }\n        .stats {\n            display: flex;\n            justify-content: space-around;\n            margin: 30px 0;\n        }\n        .stat {\n            text-align: center;\n        }\n        .stat-value {\n            font-size: 28px;\n            font-weight: bold;\n            color: #00d4ff;\n        }\n        .stat-label {\n            font-size: 14px;\n            color: #9ca3af;\n            margin-top: 5px;\n        }\n        .footer {\n            text-align: center;\n            margin-top: 30px;\n            padding-top: 20px;\n            border-top: 1px solid rgba(255, 255, 255, 0.1);\n            color: #6b7280;\n            font-size: 12px;\n        }\n        .button {\n            display: inline-block;\n            background: linear-gradient(135deg, #00d4ff 0%, #a855f7 100%);\n            color: white;\n            padding: 12px 30px;\n            text-decoration: none;\n            border-radius: 8px;\n            font-weight: bold;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <div class=\"logo\">🚀 AURORA</div>\n            <p style=\"color: #9ca3af; margin-top: 10px;\">Smart Expense Tracker</p>\n        </div>\n        \n        <div class=\"alert-box\">\n            <h2 style=\"margin: 0 0 10px 0; color: #ef4444;\">⚠️ Budget Alert!</h2>\n            <p style=\"margin: 0; font-size: 16px;\">{{ $json.message }}</p>\n        </div>\n        \n        <div class=\"stats\">\n            <div class=\"stat\">\n                <div class=\"stat-value\">${{ $json.spent }}</div>\n                <div class=\"stat-label\">Spent</div>\n            </div>\n            <div class=\"stat\">\n                <div class=\"stat-value\">${{ $json.limit }}</div>\n                <div class=\"stat-label\">Budget Limit</div>\n            </div>\n            <div class=\"stat\">\n                <div class=\"stat-value\">{{ $json.percentage }}%</div>\n                <div class=\"stat-label\">Usage</div>\n            </div>\n        </div>\n        \n        <p style=\"text-align: center; color: #9ca3af;\">\n            Category: <strong style=\"color: #00d4ff;\">{{ $json.category }}</strong>\n        </p>\n        \n        <div style=\"text-align: center; margin-top: 30px;\">\n            <a href=\"http://localhost:5173/expenses\" class=\"button\">\n                View Expenses\n            </a>\n        </div>\n        \n        <div class=\"footer\">\n            <p>This is an automated message from AURORA Expense Tracker</p>\n            <p>Sent at: {{ $json.timestamp }}</p>\n        </div>\n    </div>\n</body>\n</html>",
                "options": {}
            },
            "id": "gmail-1",
            "name": "Gmail",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2,
            "position": [
                450,
                300
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "1",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"message\": \"Email sent successfully\" } }}"
            },
            "id": "respond-1",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Gmail",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gmail": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {},
    "versionId": "1",
    "id": "aurora-budget-alert",
    "meta": {
        "instanceId": "aurora-expense-tracker"
    },
    "tags": []
}